[access]
	inheritFrom = All-Projects
[project]
	description = Generate raport of unit tests for C/C++ projects
[access "refs/*"]
	owner = group user/robgal519
[access "refs/for/refs/*"]
	read = group user/robgal519
	push = group user/robgal519
	label-Code-Review = -2..+2 group user/robgal519
	label-Verified = -1..+1 group user/robgal519
	rebase = group user/robgal519
	removeReviewer = group user/robgal519
	submit = group user/robgal519
[access "refs/heads/*"]
	read = group user/robgal519
	create = group user/robgal519
	push = +force group user/robgal519
	pushMerge = group user/robgal519
[access "refs/tags/*"]
	push = group user/robgal519
	push = +force group user/robgal519
